.modal.show{
    display:block;
}

.botones,.nav-link {
    background-color:#f05837;
    color: #fff;
    border-color: #970505;
}

.botones:hover {
    background-color: #f23c18; /* Green */
    color: white;
  }

.fondo{
    background-color:#f05837;
}

.texto{
    color:#f05837;
}

.boton-editar{
    color:#28A745;
    background-color: transparent;
    padding: 3;
    border: none;
    border-radius:3px;
}

.boton-editar:hover{
    color:white;
    background-color: #28A745;
    padding: 3;
    border: none;
    border-radius:3px;
}