<div class="container-fluid">
  <div class="row">
    <h1 class="text-left pb-3 texto col-md-10 pl-5">Mis Productos</h1>
    <div class="col-md-2"><app-create></app-create></div> 
    <!--For-->
    <div class="card bg-dark text-white text-left col-md-3 mb-3 ml-5 mr-5 p-0 " style="width: 16rem;" *ngFor="let product of products ">
      <img class="card-img" src="{{imagen_producto}}" alt="Card image">
      <div class="card-img-overlay ">
        <p class="card-title pb-0">{{product.name}} &nbsp; 
          <app-update [product]="product"></app-update>
          <app-delete [product]="product"></app-delete>
        </p>

      </div>
      <div class="card-body">
        <p class="m-0 pb-0">{{product.description}}</p>
        <p class="m-0 pb-0"><strong>{{product.price}} {{product.sign}} </strong> </p>
      </div>
    </div>
    <!--EndFor-->
    
  </div>
</div>
    