
<div class="container">
    <h4>Registro <small> de Usuarios </small></h4>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    
                    <form autocomplete="off" [formGroup]="formRegister" (ngSubmit)="onRegister()">
                        <div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col">
                                    <input  class="form-control" 
                                            type="text"
                                            placeholder="Nombre" 
                                            formControlName="nombre"
                                            [class.is-invalid]="nombreNoValido">
                                    
                                    <small *ngIf="nombreNoValido" class="text-danger">
                                        Ingrese al menos 5 letras
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Apellido</label>
                                <div class="col">
                                    <input  class="form-control" 
                                            type="text" 
                                            placeholder="Apellido" 
                                            formControlName="apellido"
                                            [class.is-invalid]="apellidoNoValido">
                                    <small *ngIf="apellidoNoValido" class="text-danger">
                                        Ingrese el apellido
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Número de telefono</label>
                            <div class="col">

                                <input  class="form-control" 
                                        type="text" 
                                        placeholder="Número de telefono" 
                                        formControlName="phone_number"
                                        [class.is-invalid]="telefonoNoValido">
            
                                <small *ngIf="telefonoNoValido" class="text-danger">
                                    Ingrese un número de telefono válido
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Fecha de nacimiento</label>
                            <div class="col">

                                <input  class="form-control" 
                                        type="date" 
                                        placeholder="Fecha de nacimiento"
                                        formControlName="birth_date"
                                        [class.is-invalid]="fechaNoValida">
                                <small *ngIf="fechaNoValida" class="text-danger">
                                    Ingrese fecha válida
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Correo</label>
                            <div class="col">

                                <input  class="form-control" 
                                        type="email" 
                                        placeholder="Correo electrónico" 
                                        formControlName="email"
                                        [class.is-invalid]="correoNoValido">

                                <small *ngIf="correoNoValido" class="text-danger">
                                    Ingrese el correo
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contraseña</label>
                            <div class="col">

                                <input  class="form-control" 
                                        type="password" 
                                        placeholder="Contraseña" 
                                        formControlName="password"
                                        [class.is-invalid]="pass1NoValido">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Repita</label>
                            <div class="col">

                                <input  class="form-control" 
                                        type="password"
                                        placeholder="Repita contraseña"
                                        [class.is-invalid]="pass2NoValido"
                                        formControlName="confirm_password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">&nbsp;</label>
                            <div class="input-group col">
                                <button type="submit" class="btn btn-outline-primary btn-block">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
