.sidenav {
  height: 100%;
  width: 18%;
  /* position: fixed; */
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.columnas {
  /* border: 0.2px solid rgb(201, 201, 201); */
  border-bottom: 1px solid rgb(218, 210, 210);
  border-right: 1px solid rgb(218, 210, 210);
}

.contenedor-img {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contenedor-desc {
  text-align: center;
}

/**** Efecto de flipcard *****/
.flip-card {
  background-color: transparent;
  height: 80px;
  /* perspective: 1000px; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}

.flip-card-back {
  background-color: #ffffff;
  color: rgb(80, 72, 72);
  transform: rotateY(180deg);
}
/* ************************* */

.label-desc {
  margin: 0px;
}

.estilo-img {
  width: 90%;
}
.icon-fav {
  height: 20px;
  position: absolute;
}

.estilo-img:hover {
  opacity: 0.9;
}

.barra-busqueda {
  border: 1px solid #ffca28;
}

.icono-buscar {
  border: 1px solid #ffca28;
  background-color: #ffca28;
  border-radius: 0px 13px 13px 0px;
}

.div-busqueda {
  margin-bottom: 2%;
  width: 70%;
}

.btn-carrito {
  background-color: orange;
  margin-top:7%;
}
.btn-carrito:hover {
  transform: scale(1.1);
}
